<div class="panel panel-default products">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="2">All Stock: <%= @stock %></th>
        <th>Number of Categories: <%= @categories_length %></th>
        <th></th>
      </tr>
    </thead>
  </table>

</div>